.canvas-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 10px;
}

.control-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.control-container h2 {
    padding: 0;
    margin:0 ;
}
/* edit inputs */
.txt-switch {
    display: grid;
    grid-template-columns: 2fr auto;
    gap: 20px;
}

.txt-switch > * {
    height: 2rem;
}

.txt-switch img {
    box-shadow: black 2px 2px 2px 2px;
    border-radius: 10px;
    cursor: pointer;
}

.txt-switch img:hover {
    background-color: rgb(252, 190, 74);
    box-shadow: rgb(170, 159, 139) 2px 2px 2px 2px;
}

.txt-switch img:active {
    box-shadow: rgb(145, 125, 88) 1px 1px 1px 1px;
}

.font-editors {
    display: grid;
    grid-template-columns: auto auto 2fr auto;
    gap: 20px;
}

.font-editors > * {
    height: 2rem;
    cursor: pointer;;
}

.font-editors img {
    box-shadow: black 1px 1px 1px 1px;
    border-radius: 50%;
}

.font-editors img:hover{
    background-color: rgb(252, 190, 74);
    box-shadow: rgb(170, 159, 139) 2px 2px 2px 2px;
}

.font-editors img:active{
    box-shadow: rgb(145, 125, 88) 1px 1px 1px 1px;
}

.font-editors select {
    border-radius: 10px;
}

.text-color {
    border: none;
    width: 2rem;
}

.location-range {
    accent-color: orange;
    outline-style: double;
    height: 1rem;
    cursor: grab;
}

.align-btns {
    display: flex;
    gap: 20px;
}

.align-btns > * {
    height: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.align-btns img:hover {
    background-color: rgb(252, 190, 74);
    box-shadow: rgb(170, 159, 139) 2px 2px 2px 2px;
}

.align-btns img:active {
    box-shadow: rgb(145, 125, 88) 1px 1px 1px 1px;
}

.delete-add > * {
    height: 1.5rem; 
    margin-left: 20px;
    border-radius: 10px;
}

.delete-add :first-child {
    border-radius: 50px;
} 

.downloud-share-save > * {
    border: 1px solid black;
    color: black;
    padding: 2px 10px;
    border-radius: 10px;
    margin-right: 20px;
}

.downloud-share-save > *:hover {
    background-color: rgb(252, 190, 74);
    /* border: 2px solid black; */
}

.downloud-share-save > *:active {
    /* background-color: rgb(252, 190, 74); */
    border: 2px solid black;
}

/* .share-modal {
    text-align: center;
    background-color: orange;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

/* .share-modal h3 {
    background-color: #fff;
    padding: 0;
    margin-bottom: 50px;
} */

/* 
.share-container a {
    padding: 5px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 0.8rem;
}

.user-msg {
    margin: 0;
} */

@media (max-width: 550px) {
    .canvas-page {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .control-container {
        margin-right: 20px;
        margin-left: 20px;
    }
   .canvas-container {
       max-width: 400px;
   }

   canvas {
       height: 350px;
       width: 350px;
   }
}

@media (min-width: 740px) {
    /* .canvas-page {
        max-width: 700px;
        max-height: none;
    } */
}

@media (min-width: 980px) {
    .canvas-page {
        max-width: 960px;
    }
}