.canvas-page {
    display: grid;
    margin: auto;
    max-width: 980px;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.control-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.control-container h2 {
    padding: 0;
    margin:0 ;
}

.control-container input {
    height: 30px;
}

.control-container button {
    background-color: #fff;
}

.font-btns > *  {
    width: 30px;
    height: 30px;
    padding: 0;
    border: none;
    margin-left: 0;
    margin-right: 20px;
    background-position: center;
    background-size:cover;
}

.location-range {
    cursor: grab;
}

.switch-btn {
    height: 30px;
}

/* .share-modal {
    text-align: center;
    background-color: orange;
    border: 1px solid black;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

/* .share-modal h3 {
    background-color: #fff;
    padding: 0;
    margin-bottom: 50px;
} */


.share-container a {
    padding: 5px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    font-size: 0.8rem;
}

.user-msg {
    margin: 0;
}

@media (min-width: 550px) {
    .canvas-page {
        max-width: 500px;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr;
    }
}

@media (min-width: 760px) {
    .canvas-page {
        max-width: 740px;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media (min-width: 980px) {
    .canvas-page {
        max-width: 960px;
    }
}