*{box-sizing: border-box;}


/* TYPOGRAPHY */
@font-face {
    font-family: Teko-Medium;
    src: url(../fonts/Teko-Medium.ttf);
}
@font-face {
    font-family: Teko-Bold;
    src: url(../fonts/Teko-Bold.ttf);
}
@font-face {
    font-family: Teko-Regular;
    src: url(../fonts/Teko-Regular.ttf);
}

/* BASIC */
body {
    margin: 0;
}

html {
    font-family: Teko-Regular;
    font-size: 20px;
    letter-spacing: 0.063rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input {
    border-radius: 10px;
}
/* LAYOUT */

.main-layout {
    max-width: 980px;
    margin: auto;
}

/* top container */
.top-container {
    background-color: orange;
    margin-bottom: 20px;
}

.top-nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Teko-Bold;
    font-size: 2rem;
    color: white;
}

.main-nav {
    display: flex;
}

.main-nav li a  {
    padding: 40px;
    color: white;
}
.main-nav li a:hover {
    color: rgb(124, 109, 81);
}

/* footer */

footer {
    background-color: orange;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 550px) {
    .main-layout {
        margin-left: 20px;
        margin-right: 20px;
        max-width: 540px;
    }
    
    .main-nav {
        background-color: orange;
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 0;
        height: 100vh;
        flex-direction: column;
        padding-left: 0px;
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;
    }

    body.menu-open .main-nav {
        transform: translateX(0);
        box-shadow: -2px -2px 20px rgba(0, 0, 0, .25);
    }

    .main-nav li {
        padding: 30px;
    }

    .main-nav a {
        width: 250px;
        height: 100px;
        font-size: 30px;
    }

    .menu-btn {
        background-color: orange;
        border: 1px solid white;
        color: #fff;
        font-size: 18px;
        width: 40px;
        height: 40px;
        position: relative;
        top: 0;
        left: 0;
    }
}

@media (min-width:560px) {
    .menu-btn {
        display: none;
    }
}
