*{box-sizing: border-box;}


/* TYPOGRAPHY */
@font-face {
    font-family: Teko-Medium;
    src: url(../fonts/Teko-Medium.ttf);
}
@font-face {
    font-family: Teko-Bold;
    src: url(../fonts/Teko-Bold.ttf);
}
@font-face {
    font-family: Teko-Regular;
    src: url(../fonts/Teko-Regular.ttf);
}

/* BASIC */
body {
    margin: 0;
}

html {
    font-family: Teko-Regular;
    font-size: 20px;
    letter-spacing: 0.063rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

input {
    border-radius: 10px;
}
/* LAYOUT */

.main-layout {
    max-width: 980px;
    margin: auto;
}

/* top container */
.top-container {
    background-color: orange;
    margin-bottom: 20px;
}

.top-nav {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Teko-Bold;
    font-size: 2rem;
    color: white;
}

.main-nav {
    display: flex;
}

.main-nav li a  {
    padding: 40px;
    color: white;
}
.main-nav li a:hover {
    color: rgb(124, 109, 81);
}

/* footer */

footer {
    background-color: orange;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 550px) {
    .main-layout {
        margin-left: 20px;
        margin-right: 20px;
        max-width: 540px;
    }
    .main-nav {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        background-color: orange;
        padding: 50px;
        margin: 0;
        box-shadow: rgb(241, 188, 153) 0px 0px 3px 2px;
        /* transform: translate(0); */
    }

    .main-nav li {
        padding: 50px 20px;
        color: white;
        font-size: 1.7rem;
    }

    .main-nav li a {
        padding: 40px 0;
        color: white;
    }

    .close-modal-btn {
        background-color: orange;
        color: white;
        border: 2px solid rgb(253, 198, 126);
        width: 50px;
        height: 50px;
        font-size: 1rem;
        position: absolute;
        top: 0;
        left: 0;
    }

    .open-modal-btn {
        position: fixed;
        background-color: orange;
        color: white;
        border: 2px solid rgb(253, 198, 126);
        width: 50px;
        height: 50px;
        font-size: 1rem;
        right: 0;
        margin-right: 20px;
    }

    /* .open-modal {
        transform: translate(100%);
    } */

}

@media (min-width:560px) {
    .close-modal-btn {
            display: none;
    }
    
    .open-modal-btn {
            display: none;
    }
}

